*{
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
}
body{
	background: #272822;
}
#first-translate, #second-translate, #third-translate{
	background: #223647;
}
h1{
	text-align: center;
}
input{
	background: #223647;
	border: 0px;
	cursor: pointer;
	margin-right: 10px;
	padding: 7px;
	font-size: 1em;
}
input:hover{
	background: #FFFFFF;
	color: #223647;
}
p{
	font-size: 2em;
}
#points{
	position: fixed;
	margin-left: 90%;
}
#first-question, #second-question, #third-question, #second-translate, #third-translate{
	display: none;
}